@charset "UTF-8";
@import url("messages/messages.css");
@import url("form.css");

* {
margin: 0;
}

html, body {
height: 100%;
}

#content-container {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -6em;
}

#footer, .push {
height: 6em;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px 0px 0px 0px;
	color: #424242;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.content-column li {
	background:url(../images/link_bullet.png) 3px 6px no-repeat;
	list-style-type: none;
	line-height: 1.3em;
	margin: 0;
	padding: 0 0 9px 12px;
	/* vertical-align: top; */
}

h3 {
	font-size: 1.8em;
	font-weight: normal;
}

a:hover {
	text-decoration: underline;
}

a, a:visited, .user-name {
	color:#464646;
	font-size:1.5em;
	text-decoration: none;
}

body {
	margin:0px;
	padding:0px;
	background-color: #e9e9e9;
	font-family: Arial, Helvetica, sans-serif;
	font-size:62.5%;
}  

#header {
	height:70px;
	
background: #42b4d1; /* Old browsers */
background: -moz-linear-gradient(top,  #42b4d1 0%, #3299bb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#42b4d1), color-stop(100%,#3299bb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #42b4d1 0%,#3299bb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #42b4d1 0%,#3299bb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #42b4d1 0%,#3299bb 100%); /* IE10+ */
background: linear-gradient(top,  #42b4d1 0%,#3299bb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42b4d1', endColorstr='#3299bb',GradientType=0 ); /* IE6-9 */

	
	border-bottom:1px solid #49aed0;
	/* -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7); */
	padding-top: 5px;
}

.box {
	width:950px;
	margin:0 auto;
}

#nav-bar {
	width:950px;
	margin: 0 auto;
}

#header-bar {
	padding-top: 0px;
	height: 40px;
	
background: #424242; /* Old browsers */
background: -moz-linear-gradient(top,  #424242 0%, #686868 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#686868)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #424242 0%,#686868 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #424242 0%,#686868 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #424242 0%,#686868 100%); /* IE10+ */
background: linear-gradient(top,  #424242 0%,#686868 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#686868',GradientType=0 ); /* IE6-9 */
	
}


#header-bar2{
	height: 0px;
	
	background: rgb(130,130,130); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(130,130,130,1) 0%, rgba(230,230,230,1) 50%, rgba(130,130,130,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(130,130,130,1)), color-stop(50%,rgba(230,230,230,1)), color-stop(100%,rgba(130,130,130,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(130,130,130,1) 0%,rgba(230,230,230,1) 50%,rgba(130,130,130,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(130,130,130,1) 0%,rgba(230,230,230,1) 50%,rgba(130,130,130,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(130,130,130,1) 0%,rgba(230,230,230,1) 50%,rgba(130,130,130,1) 100%); /* IE10+ */
background: linear-gradient(left,  rgba(130,130,130,1) 0%,rgba(230,230,230,1) 50%,rgba(130,130,130,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#828282',GradientType=1 ); /* IE6-9 */

	border-bottom: 1px solid #f3f3f3;
}

#container {
	
	width:950px;
	margin:0 auto;
	background-image: url(../images/bg_image_new_5-14.png);
	background-position: bottom;
	/* [disabled]-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); */
}

#feature {
	
	width:950px;
	margin:0 auto;
	height:200px;
	padding-top:40px;
	padding-left:40px;
	
}

#floor {
	width:980px;
	margin:0 auto;
	height:300px;
	background-image:url(../images/floor.png);
}
/*
#slogan {
	font-family: Arial, Helvetica, sans-serif;
	font-size:5em;
	font-weight:bold;
	color:#292929;
	text-shadow:white 0em 0em 0.3em;
}

#second-row {
	padding-top:20px;
	padding-left:80px;
}
*/
#second-row span {
	color:#f05205;
	font-size: 1.5em;
}

#content {
	height:370px;
	background-color: #828282;
	margin-top: 10px;
	padding-top:20px;
}

#content-box, #page-content {
	width:950px;
	height: 350px;
	margin:0 auto;

	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 88%, #e9e9e9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(88%,#ffffff), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 88%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 88%,#e9e9e9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 88%,#e9e9e9 100%); /* IE10+ */
background: linear-gradient(top,  #ffffff 88%,#e9e9e9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
	
	border-radius: 1.2em 0em 1.2em 0em;
	
	-webkit-box-shadow: 0 0 5px 3px #737373;
	-moz-box-shadow: 0 0 5px 3px #737373;
	box-shadow: 0 0 5px 3px #737373;
	
	padding-top: 5px;
}

#page-content {
	-webkit-box-shadow: 0 0 5px 3px #e1e1e1;
	-moz-box-shadow: 0 0 5px 3px #e1e1e1;
	box-shadow: 0 0 5px 3px #e1e1e1;
	
	height: auto;
	min-height:778px;
	
	border: 1px solid #d6d6d6;
	
	font-size:1.5em;
	
	margin: 15px auto;
	
	padding: 25px 30px 30px;
	
	width: 890px;
}

#page-content h2 {
	margin: 5px 0px 15px;
}

#page-content ul {
	list-style-type: square;
	margin-left: 2em;
	margin-bottom: 1em;
}

.TrueNotes {
	margin:0em 0em 1em;
}

#page-content a {
	font-size: 1em;
	text-decoration: underline;
}

.content-header {
	width: 940px;
	height: 40px;
	margin: 0 auto;
	background-color: #e9e9e9;
	border-radius: 0.7em 0em 0em 0em;	
}

.content-header div{
	width: 310px;
	float: left;
	padding: 7px 0px 7px 0px;
}

.content-header h3{
	padding: 3px 0px 3px 15px;
}

.content-header #title1{
	border-right: 1px solid #bcbcbc;
}

.content-header #title2{
	border-left: 1px solid #fafafa;
}

.content-header #title2{
	border-right: 1px solid #bcbcbc;
}

.content-header #title3{
	border-left: 1px solid #fafafa;
}

.content-column {
	width: 290px;
	height:270px;
	float: left;
	padding: 20px 0 3px 20px;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color:#464646;
	position:relative;
}

.content-column h4{
	font-size:1.5em;
	font-weight:normal;
}

.button {
	float: right;
	height: 34px;
	width: 82px;
	background: url(../images/button_more.png) top left no-repeat;
}

.button:hover{
	background-position: bottom left;
}

.content-column p{
	position: absolute;
	bottom:0;
	right:0;
}


#footer {

	background: #424242; /* Old browsers */
background: -moz-linear-gradient(top,  #424242 0%, #595959 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#595959)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #424242 0%,#595959 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #424242 0%,#595959 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #424242 0%,#595959 100%); /* IE10+ */
background: linear-gradient(top,  #424242 0%,#595959 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#595959',GradientType=0 ); /* IE6-9 */

	padding-top: 10px;
	
	border-top:1px solid #8b8b8b;
}

#footer p{
	text-align:center;
	color:#e9e9e9;
	font-size:1.2em;
	text-shadow: 0 0 2px #222222;
	margin:0;
}